<h1>Enter Expense Details</h1>
<a class ="btn btn-primary" href="/home">Home Page</a>


<form action="/expenses" method="POST">
  <div class="form-group">
    <label for="source">Source:</label>
    <input type="text" id="source" name="source" class="form-control">
  </div>

<div class="form-group">

    <label for="categories">Select Categories:</label>
    <select name="categories" id="categories" class="form-control">
      <option value="food">food</option>
      <option value="shopping">shopping</option>
      <option value="medical">medical</option>
      <option value="household">household</option>
      <option value="others">others</option>
    </select>
    
  </div>

   <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" name="amount">
  </div>
 
  <button type="submit" class="btn btn-primary mt-1">Submit</button>
  
</form>


 <table class="table mt-10">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Source</th>
      <th scope="col">categories</th>
      <th scope="col">amount</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each expense}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.source}}</td>
      <td>{{this.categories}}</td>
      <td>{{this.amount}}</td>
    </tr>
    {{/each}}
    
  </tbody>

</table>


