<h1>Income and Expense Tracker</h1>
<a class ="btn btn-primary" href="/income">Income</a>
<a class ="btn btn-primary" href="/expenses">Expenses</a>
<h3>Income table</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Source</th>
      <th scope="col">categories</th>
      <th scope="col">amount</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each income}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.source}}</td>
      <td>{{this.categories}}</td>
      <td>{{this.amount}}</td>
    </tr>
    {{/each}}
    
  </tbody>

  <h3>Expenses Table</h3>
</table>